#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_ETX_GPIO
	tristate "EmbeTronicX GPIO app example"
	default n
	depends on ESP32_ETX_GPIO
	---help---
		Enable the EmbeTronicX GPIO app example

if EXAMPLES_ETX_GPIO

config EXAMPLES_ETX_GPIO_PROGNAME
	string "Program name"
	default "etx_gpio"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_ETX_GPIO_PRIORITY
	int "etx_gpio task priority"
	default 100

config EXAMPLES_ETX_GPIO_STACKSIZE
	int "etx_gpio stack size"
	default DEFAULT_TASK_STACKSIZE

endif

